
/*Caracterísitcas del cuerpo de la página*/
body {
  background-color: #ebc000;
  /*background-color:  #eee142 ;*/
}

#aa{
  background-image: linear-gradient(to right, #ebc000, #e0eb00);
}

/*Caracterísitcas de la barra de navegación*/
ul{
  list-style-type: none;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  background-color:  #2a0064 ;
  }

li {
  float: left;
  border-right:5px double #00ffa6 ;
}
/*Para que el último objeto de la lista no tenga borde*/
li:last-child {
  border-right: none;
}

/*Caracterísiticas de los objetos de la barra de navegación*/
li a {
  font-family: sans-serif;
  font-size: 1.65em;
  display: block;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*descripciion de objetos de la barra al estar encima(activa)*/
li a:hover:not(.active) {
  background-color: gray;
}

/*definición cuando una lista de objetos tiene otros*/
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

li.dropdown {
  display: inline-block;
}

/*contenido de barra de navegación de un objeto de la primera navbar*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4e1dc ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: underline;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*caracterísiticas de textos*/

.titulo{
  /*color: #fff5d5 ;*/
  font-family: sans-serif;
  font-size: 4em;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {color: #fff5d5;}
  to {color: #2e00bd ;}
}


.info{
  color:  #2d007c ;
  font-family: sans-serif;
  font-size: 1.75em;
  text-align: justify;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.subtitulo{
  font-size: 1.75em;
  color:  #2d007c;
  font-family: sans-serif;
  font-style: oblique;
  text-align: justify;
  margin-left: 40px;
}

div.d{
  position: absolute;
  top: 350px;
  left: 650px;
  width: 75%;
  font-size: 1.5em;
}

/*caracterísiticas de imágenes*/

.aminoacido{
  height: 375px;
  border: 1px solid blue;
  background-color: #e6d37f;
  opacity: 0.9;
}


img.dec{
  height: 250px;
}

img.up{
  height: 70px;
}

img.estructura{
  height: 400px;
}

img.noemi{
  position: relative;
  float: left;
  width: 500px;
  padding: 25px;
  border: 5px double lightblue;
}

/*características de tabla*/
table{
  border: 1px solid #100066 ;
  text-align: left;
  width: 95%;
}

table.aa{
  width: 80%;
}

td, th{
  border: 1px solid #100066;
  padding: 7px;
  text-align: center;
}

a.tabla{
  /*#cc9b00 para cuando sea visto*/
  font-size: 1.75em;
  font-family: sans-serif;
  text-decoration: none;
  color: #2a0064;
}

a.tabla:link {
    color:   #915600
}
a.tabla:visited {
    /*color: #fef787;*/
    color:  # #957fe6

}

a{
  text-decoration: none;
}
